.svg-link-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  fill: #828282;
  padding-right: 0px;
  vertical-align: text-top;
}

.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row {
  clear: both;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.list li { 
  list-style-type: none;
}

.list { 
  margin-left: 0;
}

#relatives {
  font-size: 0.8em;
}

.gallery:after {
  clear: both;
}

.active {
  font-weight: bold;
}

figure {
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 0 3px 3px 0 !important;
  margin: 0 !important;
  text-align: center;
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 600px) {
    figure {
      height: auto;
      width: 20%;
    }
    figure:nth-child(4n) {
      padding-right: 0;
    }
  }

figure img {
  width: 100%;
  height: 100%;
}

figcaption {
  display: none;
}

/* Navigation */
header a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}